#wrap {
  display: flex;
  /* width: 70%; */
  flex-wrap: wrap;
  /* flex-direction: row-reverse; */
  align-content: start;
  justify-content: space-evenly;
}
.box {
  border: 1px solid black;
  width: 100px;
  height: 100px;
  /* flex-grow: 1; */
  flex-shrink: 0;
}
.text {
  align-self: center;
  margin-left: auto;
}
.dialog {
  border: 1px solid red;
  border-radius: 15px;
}
.dialog::backdrop {
  background: rgba(99, 71, 71, 0.5);
}
.canvasRef {
  border: 1px solid black;
}
