* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}
#wrap {
  display: flex;
  width: 70%;
  height: 100vh;
  flex-wrap: wrap;
  /* flex-direction: row-reverse; */
  /* align-items: end; */
  align-content: start;
  justify-content: space-evenly;
}
.box {
  border: 1px solid black;
  width: 100px;
  height: 100px;
  /* flex-grow: 1; */
  flex-shrink: 0;
}
.text {
  margin-left: auto;
}
